# Intro to Python Syntax, Part 2
## Collections

## Grouping Together Your Data into a Collection
Python also has operators for collecting related data together.  Most of this course will revolve around the pros and cons of different ways of collecting data, but let's take a look at them:

| "tuple" (fixed sequence) | "list" (changeable sequence) | "str" (sequence of text characters) | "bytes" (sequence of bytes) |  "set" {mathematical set)  | "dict" (key-value mapping) | 
| :---------:| :----:    | :--------:    | :--------:    | :--------:    | :--------:    |
|  (1, 2, 3) | [1, 2, 3] | "123" '123' | b"123" b'123' | {1, 2, 3} | {1: 2, 3: 4}  |

#### Exercises: Making Collections

Make four difference types of sequences, each containing only the numbers from 1 to 5.

In [1]:
(1,2,3,4,5)
[1,2,3]
"12345"

'12345'

In [2]:
[1,2,3]

[1, 2, 3]

In [3]:
"123"

'123'

In [4]:
b"122"

b'122'

Make a sequence containing 3 names of people in this class.

In [5]:
("tinnabavorn,Canton,Fernandez")

'tinnabavorn,Canton,Fernandez'

Make a list of four animals, ordering them by size.

In [7]:
"gnat,rat,bat,cat"

'gnat,rat,bat,cat'

Make a mapping of classmates and colors, relating each classmate to their favorite color.

In [8]:
{"Tinnabavorn":"black", "Canton":"green", "Fernandez":"blue"}

{'Tinnabavorn': 'black', 'Canton': 'green', 'Fernandez': 'blue'}

Make a mapping of colors to names, relating each color to the people that like it

In [9]:
{"Black":"Fernandez","Blue":"Tinnabavorn"}

{'Black': 'Fernandez', 'Blue': 'Tinnabavorn'}

Collect the set of all letters in your first name.

In [10]:
"FernandezRaymond"

'FernandezRaymond'

List examples of each type of collection in Python.

In [11]:
"hello"+"world"

'helloworld'

Sequences, in particular, have some interesting properties can be concatenated together with the '+' operator:

```python
>>> "Hello" + "World"
"HelloWorld"
```

Try concatenating three different types of sequences (containing whatever you wish)

In [14]:
["blah"].append("bloo")

In [15]:
"ha"+ "ha"

'haha'

In [19]:
{1,2,3}.add(5)

### Transforming Collections

Although we've mostly used operators to make collections, there are also functions that can change one type of collection to another type:

|               | tuple   | list     | dict   | set    | string |
| :--:          | :---:   | :---:    | :---:  | :---:  | :---:  |
| **function:** | tuple() | list()   | dict() | set()  | str()  |
| **operator:** |  ()     |  []      |  {}    |  {}    |   ""   |

**Exercises**: Given a collection, change it into the requested type:

1. list

In [20]:
(1, 2, 3)

(1, 2, 3)

2. set

In [21]:
("a", "b", "a", "c", "b")

('a', 'b', 'a', 'c', 'b')

3. string

In [22]:
[1, 2, 3, 4]

[1, 2, 3, 4]

4. list

In [23]:
"1234"

'1234'

5. Tuple

In [24]:
"Hello, World!"

'Hello, World!'

6. Dict

In [25]:
[(1, 2), (2, 3), (3, 4)]

[(1, 2), (2, 3), (3, 4)]

6. Set

In [32]:
{'a': 1, 'b': 2, 'c': 3}

NameError: name 'functools' is not defined

7. Discussion: Why does Python give an error when trying to change this list into a dict?

In [28]:
dict([1, 2, 3, 4, 5])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

## Extracting Data From a Collection

Data can be indexed/queried/extracted from collectoins using the square brackets: [ ]

In sequences, putting a number inside the the brackets extracts the nth (counting from zero) value
```python
>>> (1, 2, 3)[1]
2

>>> (1, 2, 3)[0]
1

>>> (1, 2, 3)[-1]
3
```

You can "slice" a sequence (get all from one index to another index) using the colon [:]
```python
>>> (10, 20, 30, 40, 50, 60)[1:3]
(20, 30)

>>> (10, 20, 30, 40, 50, 60)[:3]
(10, 20, 30)

>>> (10, 20, 30, 40, 50, 60)[3:]
(40, 50, 60)
```

In dicts, putting the key inside the brackets returns the associated value.
```python
>>> {'a': 3, 'b': 4}['a']
3

>>> {'a': 3, 'b': 4}['b']
4
```

## Indexing Exercises

Using the example dataset *scores*, select only the described elements from each list:

0. The first score

In [ ]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

1. The third score

In [ ]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

2. The last score

In [ ]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

2a. The 3rd from the last score

In [65]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

3. The 2nd through 5th score

In [ ]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

4. Every second score (the first, third, fifth, etc)

In [ ]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

5. Every score after the 4th score

In [11]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

6. Every second score from the 2nd to the 8th.

In [66]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

7. Every score except the first and last.

In [ ]:
(0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0)

## Aggregating Your Collections into Single Values (Descriptive Statistics)

Python can use named **functions** that turn data into something else.  By doing this repeatedly, in sequence, we can build data processing pipelines!

Functions in Python have the following syntax:

```
output = function(input)
```

First, let's look at some **built-in** functions to get a sense of how they work:  **min()**, **max()**, **sum()**, and **len()**:

```python
>>> min([1, 2, 3, 2])
1

>>> max([1, 2, 3, 2])
3

>>> sum([1, 2, 3, 2])
8

>>> len([1, 2, 3, 2])
4
```

### Exercises: 
Read the following lines of Python and predict their output.  Then, run the code to see if you were correct.

```python
min([3, 6, 5, 2])
```

```python
max([3, 6, 5, 2][2:])
```

```python
min([max((2, 4, 1)), len((2, 4, 1)), min(2, 4, 1)])
```

```python
(min([1, 2]), max([3, 4, 5]))
```

```python
max([1, 2, 3, 4, 5, 6][1:3])
```

```python
len({3, 4, 5, 5, 4})
```

```python
len({1: 2, 3: 4, 5: 6, 7: 8})
```

### Discussion: sum() of strings
In Python, why does this work:

In [2]:
"Hi" + "Bye"

'HiBye'

... but not this:

In [1]:
sum(["Hi", "Bye"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

What are some mental models we can use to reason about this difference in behavior?  And what does the error mean?